:root {
  --primary-color: #4a0e28;
  --transition-easing: cubic-bezier(0.77, 0, 0.175, 1);
}

body {
  margin: 0;
  /* background: linear-gradient(144deg, #c420ca 0%, #2989d8 50%, #681e99 100%); */
  /* background: linear-gradient(144deg, #4a0e28 0%, #000000 50%, #4a0e28 100%); */
  /* background: radial-gradient(circle, #4a0e28 0%, #0f0f0f 100%); */
  background: #030303;
  /* 4a0e28 */
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
}

header {
  width: 40rem;
  text-align: center;
  position: absolute;
  color: #fafafa;
  font-size: 24px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}

#menu-wrapper {
  overflow: hidden;
  position: fixed;
  height: 4rem;
}

#menuButton {
  width: 4rem;
  aspect-ratio: 1;
  background: #fafafa;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.menu-icon__line {
  width: 75%;
  height: 0.375rem;
  position: absolute;
  background-color: #030303;
  transition: transform 0.3s var(--transition-easing),
    background-color 0.3s var(--transition-easing);
}

.menu-icon__line:nth-child(1) {
  transform: translateY(-1rem);
  z-index: 3;
}
.menu-icon__line:nth-child(2) {
  transform: scaleY(1);
  z-index: 2;
}
.menu-icon__line:nth-child(3) {
  transform: translateY(1rem);
  z-index: 3;
}

#menuWrapper.active .menu-icon__line:nth-child(1) {
  transform: rotate(45deg);
  background-color: #fafafa;
}
#menuWrapper.active .menu-icon__line:nth-child(2) {
  transform: scaleY(9) scaleX(1.1);
  background-color: #030303;
}
#menuWrapper.active .menu-icon__line:nth-child(3) {
  transform: rotate(-45deg);
  background-color: #fafafa;
}

#menuContent {
  display: flex;
  align-items: center;
  height: 4rem;
  position: fixed;
  width: fit-content;
  left: 5rem;
  gap: 1rem;
  transform: translateX(-100%) skewX(-15deg);
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s var(--transition-easing),
    opacity 0.3s var(--transition-easing);
}

#menuWrapper.active #menuContent {
  pointer-events: all;
  transform: translateX(0%);
  opacity: 1;
}

.btn-custom {
  width: 12rem;
  height: 100%;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #fafafa;
  font-weight: 900;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  letter-spacing: -0.125rem;
  flex: 1;
}

.btn-custom:hover {
  background-color: #030303;
  color: #fafafa;
  box-shadow: inset 0 0 0 0.25rem #fafafa;
}

.btn-custom:active {
  background-color: #212425;
  color: #fafafa;
  box-shadow: inset 0 0 0 0.25rem #fafafa;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  transition: opacity 0.3s var(--transition-easing);
  pointer-events: none;
}

#modal.active {
  opacity: 1;
  pointer-events: all;
}

#dialog {
  background: #030303;
  padding: 2rem;
  width: 90%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateY(100%);
  font-size: 1.75rem;
  box-shadow: inset 0 0 0 0.25rem #fafafa;
  transition: transform 0.3s var(--transition-easing);
}

#modal.active #dialog {
  transform: translateY(0);
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}

.dialog-header span {
  color: #fafafa;
  text-decoration: underline;
}

.dialog-header .btn-custom {
  max-width: 4rem;
  text-align: center;
  padding: 10px 20px;
}

.dialog-content input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1.25rem;
  background: #fafafa;
  border: none;
}

.dialog-footer .btn-custom {
  width: 100%;
}
