body {
      margin: 0;
    }

    canvas {
      display: block;
    }

    header {
      width: 40rem;
      text-align: center;
      position: absolute;
      color: #ffffff;
      font-size: 24px;
      left: 50%;
      top: 10%;
      transform: translate(-50%, 0);
      font-family: Arial, sans-serif;
    }

    .button-group {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .btn-custom {
      top: 20px;
      left: 20px;
      padding: 10px 20px;
      background-color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      flex: 1;
    }

    .btn-custom:hover {
      background-color: #f1f1f1;
    }

    .btn-custom:active {
      background-color: #e1e1e1;
    }

    #pauseButton {
      left: 150px;
    }

    #restartButton {
      left: 300px;
    }